@{
    ViewData["Title"] = "Access Denied!";
}

<header>
    <h1 class="text-danger">Sorry, you don't have permission to perform this operation.</h1>
    <p class="text-danger">Please contact site administrator to get proper role assigned and then try again.</p>
</header>
